


# Token de ton bot Telegram (obtenu via @BotFather)
BOT_TOKEN=app = Application.builder().token(os.getenv("8673116882:AAGS8jXfEZpkUpWhLRi1xQivvgDW32dBjmU")).build()

# Ton ID Telegram (pour l'accès admin)
# Trouve ton ID via @userinfobot sur Telegram
ADMIN_IDS=8585602420

# Ton adresse wallet TON pour recevoir les dépôts
TON_WALLET=UQBTBzKX1VTuJg86OZFAZmT20M_YHiqyTdKH5_emMvjJe8-P
# Ton adresse wallet USDT TRC20 pour recevoir les dépôts
USDT_WALLET=0xFF9969AEDd9F3B5BE6c70fd137C283cf04b65b82
